/*
    anythingSlider-E002-Black

    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

/* Overall Wrapper */
.wrapper_Theme_01_Black .loading li{
	display:none;
}

/******* SET DEFAULT DIMENSIONS HERE ********/
.wrapper_Theme_01_Black .loading{
	
}
.anythingSlider-Theme_01_Black {
	padding:0px;
	margin:0px auto;
}
/****** SET COLORS HERE *******/
/* Default State */
.anythingSlider-Theme_01_Black.activeSlider .thumbNav a.cur,
.anythingSlider-Theme_01_Black.activeSlider .thumbNav a {
	display:block;
}
.anythingSlider-Theme_01_Black .anythingWindow {
}
.anythingSlider-Theme_01_Black .start-stop {
	background-color: #040;
	color: #fff;
}
.anythingSlider-Theme_01_Black .start-stop.playing {
	background-color: #800;
}
.anythingSlider-Theme_01_Black .start-stop:hover, .anythingSlider-Theme_01_Black .start-stop.hover {
	color: #ddd;
}

/* Active State */
.anythingSlider-Theme_01_Black.activeSlider .anythingWindow {

}

.anythingSlider-Theme_01_Black .start-stop {
	background-color: #080;
	color: #fff;
}
.anythingSlider-Theme_01_Black .start-stop.playing {
	background-color: #d00;
}
.anythingSlider-Theme_01_Black .start-stop:hover,
.anythingSlider-Theme_01_Black .start-stop.hover {
	color: #fff;
}

/**** DO NOT CHANGE BELOW THIS LINE ****/
/* anythingSlider-E002-Black viewport window */
.anythingSlider-Theme_01_Black .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* wrapper: 45px right & left padding for the arrows, 28px @ bottom for navigation */
.anythingSlider-Theme_01_Black {
	position: relative;

}
/* anythingSlider-E002-Black base UL */
ul.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
ul.anythingBase li.panel {
	background: transparent;
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

/* Navigation Arrows */
.anythingSlider-Theme_01_Black .arrow {
	top: 50%;
	position: absolute;
	display: block;
	height: 57px;
	width: 29px;
}
.anythingSlider-Theme_01_Black .arrow a {
	display: block;
	height: 57px;
	margin: -24px 0 0 0;
	width: 29px;
	text-align: center;
	outline: 0;
	background: url(images/arrow.png) no-repeat;
	text-indent: -9999px;
	position:relative;
}
.anythingSlider-Theme_01_Black .forward { right: -29px; }
.anythingSlider-Theme_01_Black .back { left: -29px;; }
.anythingSlider-Theme_01_Black .forward a { background-position: -29px 0px; }
.anythingSlider-Theme_01_Black .back a { background-position: 0px 0px; }
.anythingSlider-Theme_01_Black .forward a:hover, .anythingSlider-Theme_01_Black .forward a.hover {background-position: -29px -57px; }
.anythingSlider-Theme_01_Black .back a:hover, .anythingSlider-Theme_01_Black .back a.hover { background-position: 0px -57px; }

/* Navigation Links */
.anythingSlider-Theme_01_Black .anythingControls { outline:none;  position:absolute; right:10px; bottom:10px; z-index:11;}
.anythingSlider-Theme_01_Black .thumbNav { margin: 0; padding:0px; list-style:none; text-align:center;}
.anythingSlider-Theme_01_Black .thumbNav li { display: inline-block; margin: 0; padding:0px; list-style:none; margin-right:7px;}
*+html .anythingSlider-Theme_01_Black .thumbNav li{
	display:inline;
}
* html .anythingSlider-Theme_01_Black .thumbNav li{
	display:inline;
}
.anythingSlider-Theme_01_Black .thumbNav a {
	width:15px;
	height:15px;
	outline:none;
	background:url(images/cirde.png) 0px 0px no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	display:block;
}
* html .anythingSlider-Theme_01_Black .thumbNav a{
	background:#fff;

}
.anythingSlider-Theme_01_Black .thumbNav a:hover {
	background:url(images/cirde.png) 0px -15px no-repeat;
}
* html .anythingSlider-Theme_01_Black .thumbNav a:hover{
	background:#000;
}
.anythingSlider-Theme_01_Black .thumbNav a.cur{
	background:url(images/cirde.png) 0px -15px no-repeat;	
}	
* html .anythingSlider-Theme_01_Black .thumbNav a.cur{
	background:#000;
}
/* slider autoplay right-to-left, reverse order of nav links to look better */
.anythingSlider-Theme_01_Black.rtl .thumbNav a { float: right; } /* reverse order of nav links */
.anythingSlider-Theme_01_Black.rtl .thumbNav { float: left; }    /* move nav link group to left */
/* .anythingSlider-Theme_01_Black.rtl .start-stop { float: right; } */ /* move start/stop button - in case you want to switch sides */

/* Autoplay Start/Stop button */
.anythingSlider-Theme_01_Black .start-stop {
	display:none!important;
	background-repeat: repeat-x;
	background-position: center top;
	padding: 2px 5px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	float: right;
	z-index: 100;
	outline: 0;
}
.anythingSlider-Theme_01_Black .start-stop:hover, .anythingSlider-Theme_01_Black .start-stop.hover { background-image: none; }

.anythingSlider-Theme_01_Black, .anythingSlider-Theme_01_Black .anythingWindow, .anythingSlider-Theme_01_Black .thumbNav a, .anythingSlider-Theme_01_Black .arrow a, .anythingSlider-Theme_01_Black .start-stop {

}

/***********************
  COMMON SLIDER STYLING
 ***********************/
/* Overall Wrapper */
.anythingSlider {
	display: block;
	overflow: visible !important;
	position: relative;
}
/* anythingSlider viewport window */
.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* anythingSlider base (original element) */
.anythingSlider .anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

/* Navigation arrow text; indent moved to span inside "a", for IE7;
  apparently, a negative text-indent on an "a" link moves the link as well as the text */
.anythingSlider .arrow span {
	display: block;
	visibility: hidden;
}
/* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
.anythingSlider .arrow.disabled {
	display: none;
}
/* all panels inside the slider; horizontal mode */
.anythingSlider .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
	position:relative;
}
/* vertical mode */
.anythingSlider .vertical .panel {
	float: none;
}
/* fade mode */
.anythingSlider .fade .panel {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
/* fade mode active page - visible & on top */
.anythingSlider .fade .activePage {
	z-index: 1;
}

/***********************
  RTL STYLING
 ***********************/
/* slider autoplay right-to-left, reverse order of nav links to look better */
.anythingSlider.rtl .anythingWindow {
	direction: ltr;
	unicode-bidi: bidi-override;
}
.anythingSlider.rtl .anythingControls ul { float: left; } /* move nav link group to left */
.anythingSlider.rtl .anythingControls ul a { float: right; } /* reverse order of nav links */
.anythingSlider.rtl .start-stop { /* float: right; */ } /* move start/stop button - in case you want to switch sides */

/* probably not necessary, but added just in case */
.anythingSlider,
.anythingSlider .anythingWindow,
.anythingSlider .anythingControls ul a,
.anythingSlider .arrow a,
.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}





/* position caption close button */
.anythingSlider-Theme_01_Black .caption-top .close,
.anythingSlider-Theme_01_Black .caption-right .close,
.anythingSlider-Theme_01_Black .caption-bottom .close,
.anythingSlider-Theme_01_Black .caption-left .close   { font-size: 80%; cursor: pointer; float: right; display: inline-block; margin:8px;}


/* captions */
/* set to position: relative here in case javascript is disabled, script sets captions to position: absolute */
.anythingSlider-Theme_01_Black .caption-top,
.anythingSlider-Theme_01_Black .caption-right,
.anythingSlider-Theme_01_Black .caption-bottom,
.anythingSlider-Theme_01_Black .caption-left { background: #000; width:100%; color: #fff; padding: 0px; margin: 0; position: relative; z-index: 10; opacity: .8; filter: alpha(opacity=80); }

/* Top caption  */
.anythingSlider-Theme_01_Black .caption-top  { left: 0; top: 0; }

/* Right caption  */
.anythingSlider-Theme_01_Black .caption-right  { right: 0; bottom: 0;   }

/* Bottom caption   */
.anythingSlider-Theme_01_Black .caption-bottom { left: 0; bottom: 0;  }

/* Left caption  */
.anythingSlider-Theme_01_Black .caption-left   { left: 0; bottom: 0;   }

.anythingSlider-Theme_01_Black .cap-in     { padding:10px; margin:0px; color:#fff;}