<?xml version="1.0" encoding="utf-8" ?>



<Settings>

	<Setting>
		<Name><![CDATA[delay]]></Name>
		<Value><![CDATA[3000]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[startDelay]]></Name>
		<Value><![CDATA[2]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[startheight]]></Name>
		<Value><![CDATA[500]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[startwidth]]></Name>
		<Value><![CDATA[960]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[fullScreenAlignForce]]></Name>
		<Value><![CDATA[off]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[autoHeight]]></Name>
		<Value><![CDATA[off]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[hideTimerBar]]></Name>
		<Value><![CDATA[off]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[hideThumbs]]></Name>
		<Value><![CDATA[200]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[hideNavDelayOnMobile]]></Name>
		<Value><![CDATA[1500]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[thumbWidth]]></Name>
		<Value><![CDATA[100]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[thumbHeight]]></Name>
		<Value><![CDATA[50]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[thumbAmount]]></Name>
		<Value><![CDATA[3]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[navigationType]]></Name>
		<Value><![CDATA[bullet]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
</Settings>
