.Theme_21_LinkAndZoom_Shadow{
	margin:0px;	
	padding:0px;
	position:relative;
	clear:both;
}
.Theme_21_LinkAndZoom_Shadow ul {
	margin: 0;
	padding: 0px; 
	list-style: none;
	display: block;
	
}
.Theme_21_LinkAndZoom_Shadow .carousel_box  {
	display: block;
}
.Theme_21_LinkAndZoom_Shadow li{
		float: left;
		margin:0px 6px;
		list-style:none;

	
}


.Theme_21_LinkAndZoom_Shadow h3{
	margin:0px 0px 5px 0px;
}
.Theme_21_LinkAndZoom_Shadow .prev{
	text-indent:-9999px;
	white-space: nowrap;
	overflow: hidden;
	width: 23px;
	height: 23px;
	background:url(images/arrow_l.png) 50% 50% no-repeat ;
	display:block;
	cursor: pointer;
	top:-10px;
	position:absolute;
	left:auto;
	right:33px;
	outline:none;
	transition: 		background-color ease-in 200ms;
	-moz-transition: 	background-color ease-in 200ms; /* Firefox 4 */
	-webkit-transition: background-color ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		background-color ease-in 200ms; /* Opera */
	-ms-transition: 	background-color ease-in 200ms; /* IE9? */
}
.Theme_21_LinkAndZoom_Shadow .prev:hover{
}
.Theme_21_LinkAndZoom_Shadow .next{
	text-indent:-9999px;
	white-space: nowrap;
	overflow: hidden;
	width: 23px;
	height: 23px;
	background:url(images/arrow_r.png) 50% 50% no-repeat ;
	display:block;
	cursor: pointer;
	top:-10px;
	position:absolute;
	right:8px;
	outline:none;
	transition: 		background-color ease-in 200ms;
	-moz-transition: 	background-color ease-in 200ms; /* Firefox 4 */
	-webkit-transition: background-color ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		background-color ease-in 200ms; /* Opera */
	-ms-transition: 	background-color ease-in 200ms; /* IE9? */

}
.Theme_21_LinkAndZoom_Shadow .next:hover{
}
.Theme_21_LinkAndZoom_Shadow .pager {
	text-align: center;
	height:16px;
	line-height:16px;
	margin-top:10px;
}

.Theme_21_LinkAndZoom_Shadow .pager a {
    background: none repeat scroll 0 0 #c2c2c2;
	height:6px;
	width:24px;
	font-size:0px;
	margin:0px 3px;
	outline:none;
	overflow:hidden;
	text-decoration: none;
	display:inline-block;
 	text-decoration: none;
	background:#d7d7d7;
	transition: 		background-color ease-in 200ms;
	-moz-transition: 	background-color ease-in 200ms; /* Firefox 4 */
	-webkit-transition: background-color ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		background-color ease-in 200ms; /* Opera */
	-ms-transition: 	background-color ease-in 200ms; /* IE9? */
}

.Theme_21_LinkAndZoom_Shadow .pager a span {
	font-size:0px;
}

*+html .Theme_21_LinkAndZoom_Shadow .pager a{
	display:inline;	
}
.Theme_21_LinkAndZoom_Shadow .pager a.selected  {
	background-color:#6eb300;	
}

.Theme_21_LinkAndZoom_Shadow .timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}
.Theme_21_LinkAndZoom_Shadow .carousel_image a{
	display: block;	
}





.Theme_21_LinkAndZoom_Shadow .carousel_image{
	position:relative;
	padding:0px 0px 25px 0px;
	background-image:url(images/carousel_bg.png);
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size:contain;
}
.Theme_21_LinkAndZoom_Shadow .Icon_list { 
position:absolute ; top:50%; left:50%;height:61px; width:100%; 
	transition:all ease 400ms;
	-moz-transition:all ease 400ms; /* Firefox 4 */
	-webkit-transition:all ease 400ms; /* Safari and Chrome */
	-o-transition:all ease 400ms; /* Opera */
	-ms-transition:all ease 400ms; /* IE9? */
	z-index:-1;
	opacity:0;
 }
.Theme_21_LinkAndZoom_Shadow .carousel_image:hover .Icon_list {
		transition:all ease 1000ms;
	-moz-transition:all ease 1000ms; /* Firefox 4 */
	-webkit-transition:all ease 1000ms; /* Safari and Chrome */
	-o-transition:all ease 1000ms; /* Opera */
	-ms-transition:all ease 1000ms; /* IE9? */
	z-index:1000;
	opacity:1;
	} 
	
.Theme_21_LinkAndZoom_Shadow .Icon_zoom {
	background: url(images/Icon.png) no-repeat 0px 0px ;
	width:61px ; 
	height:61px; 
	position:absolute ; 
	bottom:50%; 
	left:-61px;    
}
.Theme_21_LinkAndZoom_Shadow .Icon_link {
	background: url(images/Icon.png) no-repeat -62px 0px ;
	width:61px ; 
	height:61px;
	position:absolute ; 
	bottom:50%; 
	left:0px; 
}
.Theme_21_LinkAndZoom_Shadow .Icon_list_2 .Icon_zoom  {
	left:-30px;

 }
.Theme_21_LinkAndZoom_Shadow .Icon_list_3 .Icon_link  {
	left:-30px;

 }

 


.Theme_21_LinkAndZoom_Shadow .carousel_title { 
	font-weight:normal;
	font-size:16px;
	line-height:20px;
}
