 {
    "slide_1": {
      "dataid": "1",
      "datasort": "1",
      "transition": "fade",
      "randomtransition": "off",
      "slotamount": "0",
      "masterspeed": "300",
      "delay": "",
      "link": "",
      "target": "_blank",
      "slideindex": "",
      "thumb": "assets/images/image02.jpg",
      "title": "",
      "bgcolor": "",
      "lazyload": "none",
      "bgrepeat": "no-repeat",
      "bgfit": "cover",
      "bgfitother": "120",
      "bgfitend": "100",
      "bgposition": "top left",
      "bgpositionend": "bottom right",
      "kenburns": "on",
      "duration": "3000",
      "ease": "Linear.easeNone",
      "bgimg": "assets/images/image01.jpg",
      "videotype": "YouTube Video",
      "autoplay": "true",<!---->
      "autoplayonlyfirsttime": "true",
      "nextslideatend": "true",
      "videoposter": "assets/images/image01.jpg",
      "forcecover": "0",
      "forcerewind": "off",
      "volume": "none",
      "videowidth": "100%",
      "videoheight": "100%",
      "aspectratio": "16:9",
      "videopreload": "none",
      "videomp4": "video/movie.m4v",
      "videowebm": "video/movie.ogv",
      "videoogv": "video/movie.webm",
      "ytid": "npfu0fN9GUA",
      "vimeoid": "106249100",
      "videocontrols": " ",
      "videoattributes": "",
      "videoloop": "none",
      "speed": "600",
      "start": "1000",
      "easing": "Linear.easeNone",
      "endspeed": "500",
      "endeasing": "Linear.easeNone",
      "incoming": "fade",
      "outgoing": "fadeout",
      "type": "media",
      "layers": {
        "layers_1_5": {
          "id": "5",
          "sort": "1",
          "contentoption": [
            {
              "type": "image",
              "vtype": "YouTube",
              "itemname": "img"
            },
            {
              "contentimg": "assets/images/image01.jpg"
            },
            {
              "contenttext": "",
              "contentcode": "p"
            },
            {
              "youtube": "",
              "autoplay": "true",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "true",
              "thumbimage": "",
              "videoattributes": "",
              "videocontrols": " ",
              "videowidth": "",
              "videoheight": ""
            },
            {
              "vimeo": "",
              "autoplay": "true",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "false",
              "thumbimage": "",
              "videoattributes": "",
              "videocontrols": " ",
              "videowidth": "",
              "videoheight": ""
            },
            {
              "mp4": "",
              "webm": "",
              "ogg": "",
              "autoplay": "true",
              "thumbimage": "",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "true",
              "videocontrols": " ",
              "forcecover": "",
              "forcerewind": "off",
              "aspectratio": "16:9",
              "volume": "off",
              "videowidth": ""
            }
          ],
          "transitionoption": [
            {
              "x": "0",
              "y": "0",
              "z": "0",
              "rotationX": "0",
              "rotationY": "0",
              "rotationZ": "0",
              "scaleX": 0,
              "scaleY": 0,
              "skewX": "0",
              "skewY": "0",
              "opacity": 0.0001,
              "perspective": "600",
              "originX": "50%",
              "originY": "50%",
              "Classes": "randomrotate"
            },
            {
              "x": "0",
              "y": "0",
              "z": "0",
              "rotationX": "0",
              "rotationY": "0",
              "rotationZ": "0",
              "scaleX": 0,
              "scaleY": 0,
              "skewX": "0",
              "skewY": "0",
              "opacity": 0.0001,
              "perspective": "600",
              "originX": "50%",
              "originY": "50%",
              "Classes": "randomrotateout"
            }
          ],
          "linkoption": {
            "Url": "http://dnn733.test.dnngo.net/Portals/_default/Skins/3dslider/Skin.html",
            "Target": "_blank"
          },
          "styleoption": {
            "width": "300px",
            "height": "",
            "top": "0px",
            "left": "0px",
            "padding_top": "3px",
            "padding_right": "3px",
            "padding_bottom": "3px",
            "padding_left": "3px",
            "border_top": "1px dashed #FFF",
            "border_right": "1px dashed #FFF",
            "border_bottom": "1px dashed #FFF",
            "border_left": "1px dashed #FFF",
            "font_family": "",
            "font_size": "",
            "line_height": "",
            "color": "",
            "background_color": "",
            "border_radius": "",
            "word_wrap": "normal",
            "CustomCSS": ""
          },
          "attributesoption": {
            "id": "",
            "class": "",
            "title": "",
            "alt": "",
            "rel": ""
          },
          "datasettings": {
            "x": "center",
            "y": "center",
            "hoffset": "0",
            "voffset": "0",
            "speed": "500",
            "splitin": "none",
            "elementdelay": "0.1",
            "splitout": "none",
            "endelementdelay": "0.1",
            "start": "2500",
            "easing": "Linear.easeNone",
            "endspeed": "500",
            "end": "",
            "endeasing": "Linear.easeNone"
          },
          "Othersettings": {
            "stylingcaptions": "none",
            "parallaxsettings": "rs-parallaxlevel-7",
            "scrollbelowslider": "off",
            "scrolloffset": "0",
            "resizeme": "off",
            "withoutcorner": "none",
            "loopanimations": "none"
          }
        },
        "layers_1_7": {
          "id": "7",
          "sort": "2",
          "contentoption": [
            {
              "type": "text",
              "vtype": "YouTube",
              "itemname": "more"
            },
            {
              "contentimg": "assets/images/image01.jpg"
            },
            {
              "contenttext": "Information &gt;&gt;",
              "contentcode": "p"
            },
            {
              "youtube": "",
              "autoplay": "true",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "true",
              "thumbimage": "",
              "videoattributes": "",
              "videocontrols": "controls",
              "videowidth": "",
              "videoheight": ""
            },
            {
              "vimeo": "",
              "autoplay": "true",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "false",
              "thumbimage": "",
              "videoattributes": "",
              "videocontrols": " ",
              "videowidth": "",
              "videoheight": ""
            },
            {
              "mp4": "",
              "webm": "",
              "ogg": "",
              "autoplay": "true",
              "thumbimage": "",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "true",
              "videocontrols": " ",
              "forcecover": "",
              "forcerewind": "on",
              "aspectratio": "16:9",
              "volume": "on",
              "videowidth": ""
            }
          ],
          "transitionoption": [
            {
              "x": "0",
              "y": "0",
              "z": "0",
              "rotationX": "0",
              "rotationY": "0",
              "rotationZ": "0",
              "scaleX": 0,
              "scaleY": 0,
              "skewX": "0",
              "skewY": "0",
              "opacity": 1,
              "perspective": "600",
              "originX": "50%",
              "originY": "50%",
              "Classes": "customin"
            },
            {
              "x": "0",
              "y": "0",
              "z": "0",
              "rotationX": "0",
              "rotationY": "0",
              "rotationZ": "0",
              "scaleX": 0,
              "scaleY": 0,
              "skewX": "0",
              "skewY": "0",
              "opacity": 1,
              "perspective": "600",
              "originX": "50%",
              "originY": "50%",
              "Classes": "customout"
            }
          ],
          "linkoption": {
            "Url": "http://dnn733.test.dnngo.net/Portals/_default/Skins/3dslider/Skin.html",
            "Target": "_blank"
          },
          "styleoption": {
            "width": "",
            "height": "",
            "top": "0px",
            "left": "0px",
            "padding_top": "",
            "padding_right": "",
            "padding_bottom": "40px",
            "padding_left": "",
            "border_top": "",
            "border_right": "",
            "border_bottom": "",
            "border_left": "",
            "font_family": "",
            "font_size": "",
            "line_height": "",
            "color": "",
            "background_color": "",
            "border_radius": "",
            "word_wrap": "normal",
            "CustomCSS": ""
          },
          "attributesoption": {
            "id": "",
            "class": "",
            "title": "",
            "alt": "",
            "rel": ""
          },
          "datasettings": {
            "x": "center",
            "y": "bottom",
            "hoffset": "0",
            "voffset": "0",
            "speed": "500",
            "splitin": "none",
            "elementdelay": "0.1",
            "splitout": "none",
            "endelementdelay": "0.1",
            "start": "3000",
            "easing": "Linear.easeNone",
            "endspeed": "500",
            "end": "",
            "endeasing": "Linear.easeNone"
          },
          "Othersettings": {
            "stylingcaptions": "none",
            "parallaxsettings": "none",
            "scrollbelowslider": "on",
            "scrolloffset": "0",
            "resizeme": "on",
            "withoutcorner": "none",
            "loopanimations": "rs-wave"
          }
        },
        "layers_1_8": {
          "id": "8",
          "sort": "3",
          "contentoption": [
            {
              "type": "text",
              "vtype": "YouTube",
              "itemname": "text"
            },
            {
              "contentimg": "assets/images/image01.jpg"
            },
            {
              "contenttext": "h a HTML5 Video, you can do so, using a HTML5 ",
              "contentcode": "p"
            },
            {
              "youtube": "",
              "autoplay": "true",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "true",
              "thumbimage": "",
              "videoattributes": "",
              "videocontrols": "controls",
              "videowidth": "",
              "videoheight": ""
            },
            {
              "vimeo": "",
              "autoplay": "true",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "false",
              "thumbimage": "",
              "videoattributes": "",
              "videocontrols": " ",
              "videowidth": "",
              "videoheight": ""
            },
            {
              "mp4": "",
              "webm": "",
              "ogg": "",
              "autoplay": "true",
              "thumbimage": "",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "true",
              "videocontrols": " ",
              "forcecover": "",
              "forcerewind": "on",
              "aspectratio": "16:9",
              "volume": "on",
              "videowidth": ""
            }
          ],
          "transitionoption": [
            {
              "x": "0",
              "y": "0",
              "z": "0",
              "rotationX": "0",
              "rotationY": "0",
              "rotationZ": "0",
              "scaleX": 0,
              "scaleY": 0,
              "skewX": "0",
              "skewY": "0",
              "opacity": 1,
              "perspective": "600",
              "originX": "50%",
              "originY": "50%",
              "Classes": "customin"
            },
            {
              "x": "0",
              "y": "0",
              "z": "0",
              "rotationX": "0",
              "rotationY": "0",
              "rotationZ": "0",
              "scaleX": 0,
              "scaleY": 0,
              "skewX": "0",
              "skewY": "0",
              "opacity": 1,
              "perspective": "600",
              "originX": "50%",
              "originY": "50%",
              "Classes": "customout"
            }
          ],
          "linkoption": {
            "Url": "Http://",
            "Target": "_blank"
          },
          "styleoption": {
            "width": "",
            "height": "",
            "top": "0px",
            "left": "0px",
            "padding_top": "",
            "padding_right": "",
            "padding_bottom": "",
            "padding_left": "",
            "border_top": "",
            "border_right": "",
            "border_bottom": "",
            "border_left": "",
            "font_family": "",
            "font_size": "25px",
            "line_height": "",
            "color": "#FFF",
            "background_color": "",
            "border_radius": "",
            "word_wrap": "normal",
            "CustomCSS": ""
          },
          "attributesoption": {
            "id": "",
            "class": "",
            "title": "",
            "alt": "",
            "rel": ""
          },
          "datasettings": {
            "x": "center",
            "y": "25",
            "hoffset": "0",
            "voffset": "0",
            "speed": "500",
            "splitin": "words",
            "elementdelay": "0.1",
            "splitout": "none",
            "endelementdelay": "0.1",
            "start": "200",
            "easing": "Linear.easeNone",
            "endspeed": "500",
            "end": "",
            "endeasing": "Linear.easeNone"
          },
          "Othersettings": {
            "stylingcaptions": "none",
            "parallaxsettings": "none",
            "scrollbelowslider": "on",
            "scrolloffset": "0",
            "resizeme": "on",
            "withoutcorner": "none",
            "loopanimations": "none"
          }
        }
      }
    },
    "slide_2": {
      "dataid": "2",
      "datasort": "2",
      "transition": "fade",
      "randomtransition": "off",
      "slotamount": "0",
      "masterspeed": "300",
      "delay": "",
      "link": "",
      "target": "_blank",
      "slideindex": "",
      "thumb": "assets/images/image01.jpg",
      "title": "",
      "bgcolor": "",
      "lazyload": "none",
      "bgrepeat": "no-repeat",
      "bgfit": "cover",
      "bgfitother": "110",
      "bgfitend": "100",
      "bgposition": "cente center",
      "bgpositionend": "center center",
      "kenburns": "on",
      "duration": "3000",
      "ease": "Linear.easeNone",
      "bgimg": "assets/images/image02.jpg",
      "videotype": "YouTube Video",
      "autoplay": "true",
      "autoplayonlyfirsttime": "false",
      "nextslideatend": "true",
      "videoposter": "assets/images/image01.jpg",
      "forcecover": "0",
      "forcerewind": "off",
      "volume": "none",
      "videowidth": "100%",
      "videoheight": "100%",
      "aspectratio": "16:9",
      "videopreload": "none",
      "videomp4": "video/movie.m4v",
      "videowebm": "video/movie.ogv",
      "videoogv": "video/movie.webm",
      "ytid": "npfu0fN9GUA",
      "vimeoid": "106249100",
      "videocontrols": " ",
      "videoattributes": "",
      "videoloop": "none",
      "speed": "600",
      "start": "1000",
      "easing": "Linear.easeNone",
      "endspeed": "500",
      "endeasing": "Linear.easeNone",
      "incoming": "fade",
      "outgoing": "fadeout",
      "type": "media",
      "layers": {
        "layers_2_2": {
          "id": "2",
          "sort": "1",
          "contentoption": [
            {
              "type": "text",
              "vtype": "YouTube",
              "itemname": "Item #2"
            },
            {
              "contentimg": "assets/images/image01.jpg"
            },
            {
              "contenttext": "action. Everybody is a friend and we look forward to seeing your posts and enjoying ",
              "contentcode": "p"
            },
            {
              "youtube": "",
              "autoplay": "true",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "true",
              "thumbimage": "",
              "videoattributes": "",
              "videocontrols": "controls",
              "videowidth": "",
              "videoheight": ""
            },
            {
              "vimeo": "",
              "autoplay": "true",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "false",
              "thumbimage": "",
              "videoattributes": "",
              "videocontrols": " ",
              "videowidth": "",
              "videoheight": ""
            },
            {
              "mp4": "",
              "webm": "",
              "ogg": "",
              "autoplay": "true",
              "thumbimage": "",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "true",
              "videocontrols": " ",
              "forcecover": "",
              "forcerewind": "on",
              "aspectratio": "16:9",
              "volume": "on",
              "videowidth": ""
            }
          ],
          "transitionoption": [
            {
              "x": "10",
              "y": "10",
              "z": "10",
              "rotationX": "10",
              "rotationY": "10",
              "rotationZ": "10",
              "scaleX": 0.1,
              "scaleY": 0.1,
              "skewX": "10",
              "skewY": "10",
              "opacity": 1,
              "perspective": "600",
              "originX": "50%",
              "originY": "50%",
              "Classes": "randomrotate"
            },
            {
              "x": "0",
              "y": "0",
              "z": "0",
              "rotationX": "0",
              "rotationY": "0",
              "rotationZ": "0",
              "scaleX": 0,
              "scaleY": 0,
              "skewX": "0",
              "skewY": "0",
              "opacity": 1,
              "perspective": "600",
              "originX": "50%",
              "originY": "50%",
              "Classes": "randomrotateout"
            }
          ],
          "linkoption": {
            "Url": "Http://",
            "Target": "_blank"
          },
          "styleoption": {
            "width": "",
            "height": "",
            "top": "0px",
            "left": "0px",
            "padding_top": "",
            "padding_right": "",
            "padding_bottom": "",
            "padding_left": "",
            "border_top": "",
            "border_right": "",
            "border_bottom": "",
            "border_left": "",
            "font_family": "",
            "font_size": "25px",
            "line_height": "",
            "color": "#FFF",
            "background_color": "",
            "border_radius": "",
            "word_wrap": "normal",
            "CustomCSS": ""
          },
          "attributesoption": {
            "id": "",
            "class": "",
            "title": "",
            "alt": "",
            "rel": ""
          },
          "datasettings": {
            "x": "center",
            "y": "25",
            "hoffset": "0",
            "voffset": "0",
            "speed": "500",
            "splitin": "none",
            "elementdelay": "0.1",
            "splitout": "none",
            "endelementdelay": "0.1",
            "start": "1200",
            "easing": "Linear.easeNone",
            "endspeed": "500",
            "end": "",
            "endeasing": "Linear.easeNone"
          },
          "Othersettings": {
            "stylingcaptions": "none",
            "parallaxsettings": "none",
            "scrollbelowslider": "on",
            "scrolloffset": "0",
            "resizeme": "on",
            "withoutcorner": "none",
            "loopanimations": "none"
          }
        },
        "layers_2_1": {
          "id": "1",
          "sort": "2",
          "contentoption": [
            {
              "type": "video",
              "vtype": "YouTube",
              "itemname": "Item #1"
            },
            {
              "contentimg": "assets/images/image01.jpg"
            },
            {
              "contenttext": "",
              "contentcode": "p"
            },
            {
              "youtube": "npfu0fN9GUA",
              "autoplay": "true",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "true",
              "thumbimage": "",
              "videoattributes": "",
              "videocontrols": " ",
              "videowidth": "500px",
              "videoheight": "360px"
            },
            {
              "vimeo": "106249100",
              "autoplay": "true",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "false",
              "thumbimage": "",
              "videoattributes": "",
              "videocontrols": " ",
              "videowidth": "",
              "videoheight": ""
            },
            {
              "mp4": "",
              "webm": "",
              "ogg": "",
              "autoplay": "true",
              "thumbimage": "",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "true",
              "videocontrols": " ",
              "forcecover": "",
              "forcerewind": "off",
              "aspectratio": "16:9",
              "volume": "off",
              "videowidth": ""
            }
          ],
          "transitionoption": [
            {
              "x": "0",
              "y": "0",
              "z": "0",
              "rotationX": "0",
              "rotationY": "0",
              "rotationZ": "0",
              "scaleX": 0,
              "scaleY": 0,
              "skewX": "0",
              "skewY": "0",
              "opacity": 0.0001,
              "perspective": "600",
              "originX": "50%",
              "originY": "50%",
              "Classes": "customin"
            },
            {
              "x": "0",
              "y": "0",
              "z": "0",
              "rotationX": "0",
              "rotationY": "0",
              "rotationZ": "0",
              "scaleX": 0,
              "scaleY": 0,
              "skewX": "0",
              "skewY": "0",
              "opacity": 0.0001,
              "perspective": "600",
              "originX": "50%",
              "originY": "50%",
              "Classes": "customout"
            }
          ],
          "linkoption": {
            "Url": "Http://",
            "Target": "_blank"
          },
          "styleoption": {
            "width": "",
            "height": "",
            "top": "0px",
            "left": "0px",
            "padding_top": "",
            "padding_right": "",
            "padding_bottom": "",
            "padding_left": "",
            "border_top": "",
            "border_right": "",
            "border_bottom": "",
            "border_left": "",
            "font_family": "",
            "font_size": "",
            "line_height": "",
            "color": "",
            "background_color": "",
            "border_radius": "",
            "word_wrap": null,
            "CustomCSS": ""
          },
          "attributesoption": {
            "id": "",
            "class": "",
            "title": "",
            "alt": "",
            "rel": ""
          },
          "datasettings": {
            "x": "center",
            "y": "center",
            "hoffset": "0",
            "voffset": "0",
            "speed": "500",
            "splitin": "none",
            "elementdelay": "0.1",
            "splitout": "none",
            "endelementdelay": "0.1",
            "start": "300",
            "easing": "Linear.easeNone",
            "endspeed": "500",
            "end": "",
            "endeasing": "Linear.easeNone"
          },
          "Othersettings": {
            "stylingcaptions": "none",
            "parallaxsettings": "none",
            "scrollbelowslider": "off",
            "scrolloffset": "0",
            "resizeme": "off",
            "withoutcorner": "none",
            "loopanimations": "none"
          }
        }
      }
    },
    "slide_4": {
      "dataid": "4",
      "datasort": "3",
      "transition": "slidedown",
      "randomtransition": "off",
      "slotamount": "0",
      "masterspeed": "300",
      "delay": "",
      "link": "",
      "target": "_blank",
      "slideindex": "",
      "thumb": "assets/images/image01.jpg",
      "title": "",
      "bgcolor": "",
      "lazyload": "none",
      "bgrepeat": "no-repeat",
      "bgfit": "cover",
      "bgfitother": "200",
      "bgfitend": "100",
      "bgposition": "left",
      "bgpositionend": "left",
      "kenburns": "off",
      "duration": "3000",
      "ease": "Linear.easeNone",
      "bgimg": "assets/images/image01.jpg",
      "videotype": "Vimeo Video",
      "autoplay": "true",
      "autoplayonlyfirsttime": "false",
      "nextslideatend": "true",
      "videoposter": "assets/images/image01.jpg",
      "forcecover": "1",
      "forcerewind": "on",
      "volume": "none",
      "videowidth": "100%",
      "videoheight": "100%",
      "aspectratio": "4:3",
      "videopreload": "none",
      "videomp4": "video/movie.ogv",
      "videowebm": "video/movie.ogv",
      "videoogv": "video/movie.webm",
      "ytid": "npfu0fN9GUA",
      "vimeoid": "106249100",
      "videocontrols": " ",
      "videoattributes": "",
      "videoloop": "none",
      "speed": "600",
      "start": "1000",
      "easing": "Power0.easeIn",
      "endspeed": "500",
      "endeasing": "Power0.easeIn",
      "incoming": "sfl",
      "outgoing": "fadeout",
      "type": "media",
      "layers": {
        "layers_4_1": {
          "id": "1",
          "sort": "1",
          "contentoption": [
            {
              "type": "text",
              "vtype": "YouTube",
              "itemname": "Item #1"
            },
            {
              "contentimg": "assets/images/image01.jpg"
            },
            {
              "contenttext": "20063 collects personally identifiable information,<br>\n such as your e-mail address, name,<br>\n home or work address or telephone number. <br>\n20063 also collects anonymous demographic information,<br>\n which is not unique to you, such as your ZIP code, <br>\nage, gender, preferences, interests and favorites.<br>",
              "contentcode": "p"
            },
            {
              "youtube": "",
              "autoplay": "true",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "true",
              "thumbimage": "",
              "videoattributes": "",
              "videocontrols": " ",
              "videowidth": "",
              "videoheight": ""
            },
            {
              "vimeo": "",
              "autoplay": "true",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "false",
              "thumbimage": "",
              "videoattributes": "",
              "videocontrols": " ",
              "videowidth": "",
              "videoheight": ""
            },
            {
              "mp4": "",
              "webm": "",
              "ogg": "",
              "autoplay": "true",
              "thumbimage": "",
              "autoplayonlyfirsttime": "true",
              "nextslideatend": "true",
              "videocontrols": " ",
              "forcecover": "",
              "forcerewind": "off",
              "aspectratio": "16:9",
              "volume": "off",
              "videowidth": ""
            }
          ],
          "transitionoption": [
            {
              "x": "0",
              "y": "0",
              "z": "0",
              "rotationX": "0",
              "rotationY": "0",
              "rotationZ": "0",
              "scaleX": 0,
              "scaleY": 0,
              "skewX": "0",
              "skewY": "0",
              "opacity": 1,
              "perspective": "600",
              "originX": "50%",
              "originY": "50%",
              "Classes": "customin"
            },
            {
              "x": "0",
              "y": "0",
              "z": "0",
              "rotationX": "0",
              "rotationY": "0",
              "rotationZ": "0",
              "scaleX": 0,
              "scaleY": 0,
              "skewX": "0",
              "skewY": "0",
              "opacity": 1,
              "perspective": "600",
              "originX": "50%",
              "originY": "50%",
              "Classes": "customout"
            }
          ],
          "linkoption": {
            "Url": "Http://",
            "Target": "_blank"
          },
          "styleoption": {
            "width": "",
            "height": "",
            "top": "0px",
            "left": "0px",
            "padding_top": "",
            "padding_right": "",
            "padding_bottom": "",
            "padding_left": "",
            "border_top": "",
            "border_right": "",
            "border_bottom": "",
            "border_left": "",
            "font_family": "",
            "font_size": "",
            "line_height": "",
            "color": "",
            "background_color": "",
            "border_radius": "",
            "word_wrap": null,
            "CustomCSS": ""
          },
          "attributesoption": {
            "id": "",
            "class": "",
            "title": "",
            "alt": "",
            "rel": ""
          },
          "datasettings": {
            "x": "0",
            "y": "0",
            "hoffset": "0",
            "voffset": "0",
            "speed": "500",
            "splitin": "lines",
            "elementdelay": "0.1",
            "splitout": "lines",
            "endelementdelay": "0.1",
            "start": "200",
            "easing": "Linear.easeNone",
            "endspeed": "500",
            "end": "",
            "endeasing": "Linear.easeNone"
          },
          "Othersettings": {
            "stylingcaptions": "none",
            "parallaxsettings": "none",
            "scrollbelowslider": "off",
            "scrolloffset": "0",
            "resizeme": "off",
            "withoutcorner": "none",
            "loopanimations": "none"
          }
        }
      }
    }
  }
 