<li class="panel panel-default" id="panel<SlideID>_<LayersID>" data-slide="<SlideID>" data-id="<LayersID>" data-new="<LayersID>">
  <div class="panel-heading">
    <h4 class="panel-title"> <a href="#collapse<SlideID>_<LayersID>" data-parent="#layers-accordion<SlideID>" data-toggle="collapse" class="accordion-toggle collapsed"> <i class="clip-tag-2 ico-tag-2"></i> <i class="drag clip-arrow-4"></i> </a> <span class="edit_name">
      <input type="text" value="Item #<LayersID>" id="itemname<SlideID>_<LayersID>" class="form-validation dnn-option" data-validation="string">
      </span> </h4>
  </div>
  <div class="panel-collapse collapse " id="collapse<SlideID>_<LayersID>">
  <div class="content-loading"></div>
  </div>
</li>
